<div class="container">
    <p class="header-text">List of all Bookings</p>
    <div class="table-container">
        <table id="customers">
            <tr>
              <th>Reference ID</th><th>Name</th><th>Pickup Location</th><th>Drop Location</th>
              <th>Pickup Date</th><th>Pickup Time</th><th>No. of Vehicle</th>
              <th>Driver Name</th><th>Driver Contact No.</th><th>Vehicle No.</th>
              <th>Status</th><th>Assign Vehicle</th>
            </tr>
            <tr>
              <td>10001</td><td>Agnitra Banerjee</td><td>Bangalore</td><td>Bhubaneswar</td>
              <td>20-04-2019</td><td>13:00</td><td>1</td>
              <td>John Doe</td><td>8888888888</td><td>OR 20A 0987</td>
              <td>Assigned</td>
              <td class="pointer" (click)="openEdit(10001)"><img src="assets/edit.jpg" height="15px" width="25px" /></td>
            </tr>
            <tr>
                <td>10001</td><td>Agnitra Banerjee</td><td>Bangalore</td><td>Bhubaneswar</td>
                <td>20-04-2019</td><td>13:00</td><td>1</td>
                <td>John Doe</td><td>8888888888</td><td>OR 20A 0987</td>
                <td>Assigned</td>
                <td class="pointer" (click)="openEdit(10001)"><img src="assets/edit.jpg" height="15px" width="25px" /></td>
              </tr>
          </table>
    </div>
</div>

