<div class="container">
    <div class="header-container">
      <p class="header-text">Assign Vehicle</p>
    </div>
    <div class="form-container">
      <div class="row">
          <div class="form-group">
              <b>Vehicle Number</b> <br />
              <input type="text" name="vehicleNo" id="vehicleNo" placeholder="Vehicle Number" />
            </div>
            <div class="form-group">
                <b>Driver Contact Number</b> <br />
                <input type="text" name="driverNumber" id="driverNumber" placeholder="Driver Contact Number" />
            </div>
              <div class="form-group">
                  <b>Status</b> <br />
                  <select id="status" name="status">
                      <option value="">Select Status</option>
                      <option value="1">Trip Complete</option>
                      <option value="2">Assigned</option>
                      <option value="3">On Process</option>
                      <option value="4">Not Assigned</option>
                    </select>
                </div>
      </div>
      <div class="row">
          <div class="form-group">
              <b>Driver Name</b> <br />
              <input type="text" name="driverName" id="driverName" placeholder="Driver Name" />
            </div>
      </div>
      <div id="button-container" class="row">
        <button class="action-button">Submit</button>
      </div>
    </div>
</div>

