.container {
    background-image: url('../../../assets/background.jpg');
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
}

.spacer {
    flex: 1 1 auto;
}

.card {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    opacity: 0.9;
    margin: 40px 70px 90px 0;
}

.card-header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.input_field {
    margin: 20px 0 10px 30px;
    height: 35px;
    width: 225px;
    border: 2px solid #ababfa;
    border-radius: 3px;
    padding: 5px 0 5px 10px;
}

.login-button{
    height: 35px;
    width: 150px;
    margin: 35px 0 0 70px;
    color: yellow;
    background-color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

@media(max-width: 500px) {
    .card{
        margin: 40px 38px 150px 38px;
    }
}